.mainClocks{
    height: 500px;
    width: 100%;
    border: 1px solid red;
    color: #ffffff;
    // font-size: 222px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    .mainTime{
        font-size: 150px;
    }
    .progressBar{
        width: 90%;
        height: 15px;
        position: relative;
        display: flex;
        align-items: center;
        .backLine{
            background-color: #123142;
            width: 100%;
            height: 10px;
        }
        .progressLine{
            height: 100%;
            width: 100%;
            background-color: #f35e13;
            position: absolute;
            right: 0;
        }
    }
    .bottomButtons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 30px;
        .addTimeButton{
            cursor: pointer;
            height: 60px;
        }
        .settings{
            cursor: pointer;
            height: 48px;
        }
    }
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        .previousLevel{
            transform: scaleX(-1);
            margin-right: -70px;
            height: 200px;
            cursor: pointer;
        }
        .nextLevel{
            margin-left: -60px;
            height: 200px;
            cursor: pointer;
        }
        .playPause{
            cursor: pointer;
            height: 185px;
        }
    }
}
