@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@900&display=swap');
}

.content{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #26495c;
    color: #ffff;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-weight: 510;
    .temp{
        position: absolute;
        right: 100px;
        top: 100px;
        width: 550px;
        background-color: white;
        opacity: 0.7;
        text-align: left;
        overflow-wrap: break-word;
        border: 1px solid black;
        padding: 5px;
        color:black;
    }
    .element{
        height: 100%;
        // border: 1px solid red;
        box-sizing: border-box;
        width: 33.3%;
    }
    .gameState{
        border: 1px solid red;
        box-sizing: border-box;
        padding-top: 70px;
        .times{
            padding: 20px;
            font-size: 81px;
            color: #f35e13;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .timer{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .mainTimer{
            font-size: 255px;
        }
        
    }
}