.table{
    display: flex;
    flex-direction: column;
    position: relative;
    .row{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .active{
        color:red;
    }
    .editButtons{
        display: flex;
        justify-content: center;
        .edit{
            height: 50px;
            width: 50px;
            // position: absolute;
            // right: 10px;
            // top: 300px;
            cursor: pointer;
        }
    }
}

.editableTable .rows{
    border: 1px solid #de8383;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: #c1c1c1;
}