.table{
    display: flex;
    flex-direction: column;
    position: relative;
    .row{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .active{
        color:red;
    }
    .editButtons{
        display: flex;
        justify-content: center;
        .edit{
            height: 50px;
            width: 50px;
            // position: absolute;
            // right: 10px;
            // top: 300px;
            cursor: pointer;
        }
    }
}

.editableTable{
    .rows{
        border: 1px solid #de8383;
    }
    .editRowsButtons{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        img{
            height: 21.8px;
            padding-left: 50px;
        }
        .remove{
            transform: rotate(45deg);
            padding-left: 10px;
            margin-top: -7px;
            cursor: pointer;
        }
        .add{
            cursor: pointer;
            width: 20px;
        }
    }
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: #c1c1c1;
}