.table{
    display: flex;
    flex-direction: column;
    position: relative;
    .numberedRow{
        display: flex;
        .rowNumber{
            width: 50px;
        }
    }
    .row{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .editButtons{
        display: flex;
        justify-content: center;
        .edit{
            height: 50px;
            width: 50px;
            cursor: pointer;
        }
    }
    .editRowsTitle{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #1b3646;
        padding: 10px;
        .column{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .editButtons{
            width: 111px;
            display: flex;
            justify-content: center;
        }
    }
}

.editableTable{
    .rows{
        border: 1px solid #de8383;
    }
    .editRowsTitle{
        .column{
            width: 186px;
        }
    }
    .editRowsButtons{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        img{
            height: 21.8px;
            padding-left: 50px;
        }
        .remove{
            transform: rotate(45deg);
            padding-left: 10px;
            margin-top: -7px;
            cursor: pointer;
        }
        .add{
            cursor: pointer;
            width: 20px;
        }
    }
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: #c1c1c1;
}


.blindsTableViewMode{
    display: flex;
    flex-direction: column;
    width: 100%;
    .viewTableRow{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .element{
            width: 100%;
            border: 1px solid #1b3646;
            position: relative;
            display: flex;
            justify-content: center;
            align-content: space-between;
            height: 23px;
            background-color: #305970;
            color: white;
            text-align: center;
        }
    }
    .activeRow .element{
        color:#f35e13;
        font-size: 1.05em;   
    }
}