.rows{
    width: 100%;
    border: 1px solid transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: space-between;
    cursor: pointer;
    .cell{
        width: 100%;
        border: 1px solid transparent;
        position: relative;
        display: flex;
        justify-content: center;
        align-content: space-between;
        cursor: pointer;
        height: 23px;
        background-color: #305970;
        color: white;
        text-align: center;
    }
    .unfilled{
        background-color: rgb(255 0 0 / 30%);
        border: 1px solid red;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-content: space-between;
        cursor: pointer;
    }
}
.rows:nth-child(3){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.alert{
    width: 125px;
    position: absolute;
    right: -4px;
    top: 16px;
    font-size: 12px;
    background-color: red;
    opacity: 0.6;
    border-radius: 10px;
}
